@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/Wall.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header {
    /* background-color: #333; */
    color: #fff;
    /* padding: 1rem; */
    text-align: center;
    /* height: 20px;
    width: 100%; */
    font-size: 13px;
    margin-top: 0%;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 142px); /* Adjust according to your header and footer height */
}

form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 1rem;
}
button:hover {
    background-color: orange;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    height: 50px;
}