body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header ul li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
section {
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}
.card:hover {
    transform: translateY(-5px);
}
.card h2 {
    margin-top: 0;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}
.card p {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}
.card form label {
    display: block;
    margin-bottom: 5px;
}
.card form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.card button {
    background-color: #e8491d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: #d83b0b;
}
.most-wanted-image {
    width: 100%;
    height: auto;
    opacity: 1;
    /* filter: blur(5px); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.card h2, .card p {
    position: relative;
    z-index: 2;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
