@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    width: 50px;
    height: auto;
    margin-left: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #ffffff;
    color: #000;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: #FFA500 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header ul li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
section {
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}
.card:hover {
    transform: translateY(-5px);
}
.card h2 {
    margin-top: 0;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}
.card p {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}
.card form label {
    display: block;
    margin-bottom: 5px;
}
.card form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.card button {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFA500;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    font: 15px;
}
.card button:hover {
    background-color: #FFA500;
    box-shadow: 0 0 15px #ac7002; /* Glow effect matching the button color */
}
.most-wanted-image {
    width: 100%;
    height: auto;
    opacity: 1;
    /* filter: blur(5px); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.card h2, .card p {
    position: relative;
    z-index: 2;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
  }

  .button:hover {
    background-color: #45a049;
    box-shadow: 0 0 15px rgba(72, 191, 88, 0.7); /* Green glow effect */
  }

  /* Modal Styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding-top: 60px;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Adjusted width */
    max-width: 600px; /* Maximum width for larger screens */
    opacity: 1; /* Ensure opacity for content */
    overflow: hidden; /* Hide any overflowing content */
    border-radius: 5px;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0; /* Margin top and bottom */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    width: 80%; /* Adjusted width */
    max-width: 300px; /* Maximum width for buttons */
}

.modal-buttons button:hover {
    background-color: #218838;
}
