@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
        *{
            font-family: 'Montserrat', sans-serif;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            background-image: url('../images/Wall.jpg');
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            height: 100vh;
            overflow: hidden; /* Prevents the entire page from scrolling */
        }

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.open-menu {
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Side Menu Styling */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #FFA500;
    font-weight: bolder;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-menu {
    font-size: 20px;
    cursor: pointer;
    color: #fff; /* White text color for better contrast */
    background-color: #FFA500; /* Orange background */
    padding: 5px 5px; /* Adding padding for better visual appearance */
    border-radius: 30px;
    position: absolute;
    top: 10px; /* Adjusted to be at the top */
    left: 10px; /* Adjusted to be at the left */
    z-index: 100; /* Ensures it stays on top */
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.8); /* Glowing orange shadow */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}