@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e9ecef;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

select,
input {
    width: 400px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

select:focus,
input:focus {
    outline: none;
    border-color: #28a745;
}

button {
    width: 400px;
    padding: 12px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
    font-weight: bolder;
}

.location-output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
    }
}
