@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #fff; */
    background-image: url('../images/Wall.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.container {
    text-align: center;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
}

.icon {
    width: 24px;
    height: 24px;
    background: url('icon.png') no-repeat center center;
    background-size: contain;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    margin-top: 20px;
    font-weight: bold;
}

.payment-method {
    font-size: 18px;
    color: orange;
    margin: 20px 0 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
}

#phone-input {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#location {
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#mpesa-code {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shipping-fee {
                background-color: green;
                color: white;
                padding: 10px;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                margin-top: 10px;
                display: inline-block;
                margin-bottom: 20px;

            }
            
            select {
                padding: 10px;
                font-size: 16px;
                margin-bottom: 10px;
            }

            .fee-container {
                display: flex;
                align-items: center;
            }

            .fee-container select {
                flex: 1;
            }

            .fee-container .shipping-fee {
                margin-left: 10px;
            }

.confirm-button {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment-received {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: orange;
    font-weight: bold;
}

.confirm-button:hover {
    background-color: #45a049;
}

.check-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.waiter-image {
    margin-top: 20px;
}

.waiter-image img {
    width: 100px;
    height: auto;
}

footer {
    margin-top: 20px;
}

.small-logo {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

footer p {
    margin: 2px 0;
    font-size: 12px;
}
