/* payment.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the body takes up the full viewport height */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Container for the payment section */
.payment-container {
    background-color: #fff; /* White background for the payment box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px;
    width: 90%;
    max-width: 500px; /* Maximum width for the payment box */
}

/* Heading styles */
h1 {
    color: black; /* Dark text color */
    margin-bottom: 20px; /* Space below the heading */
    font-size: 30px;
}

/* Center PayPal button container */
#paypal-button-container {
    margin: 20px auto; /* Center horizontally with auto margins */
    padding: 10px;
}

/* Optional: Add a footer with a link or contact info */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}