@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
}

header .logo {
    width: 50px;
    height: auto;
}

main {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

h3 {
    text-align: center;
    color: #e67e22;
}

.order {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.status {
    background-color: #e67e22;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.status.served {
    background-color: #28a745; /* Green for served */
}

.status.packed {
    background-color: #e67e22; /* Orange for packed */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #c2c2c2;
    border-top: 1px solid #ddd;
    margin-bottom: 0;
    height: max-content;
    font-size: 10px;
}

footer .footer-logo {
    width: 50px;
    height: auto;
}
